*{
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;

}

.landingpage{
	height: 100vh;
	color: #00203FFF;
	font-family: 'Righteous', cursive;
	background-color: #ADEFD1FF ;
	justify-content: center;
	text-align: center;
	display: flex;
	top: 50vh;
}
.name{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 200%;
	transition: transform 2s;
  	margin: 0 auto;
 }

 .name:hover{
 	transform: scale(1.5);
 }

 .navbar{
    background-color: #00203FFF;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
}

.navbar > a{
	text-decoration: none;
    color: #ADEFD1FF;
    margin-left: 50px;
    font-size: 25px;
    font-weight: 800;
}

.navbar > ul{
	margin-right: 50px;
	list-style-type: none;
	display: flex;

}

.navbar-list > li > a{
	color: #ADEFD1FF;
	display: inline;
    font-family: 'Ropa Sans', sans-serif;
    margin: 0 10px;

}

.aboutme{
	background: url(../images/back2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-color: #ADEFD1FF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -75px;

}

.page2 > nav{
	height: 50px;
	border-bottom: 1px solid rgba(255,255,255,.5);
	display: flex;
	justify-content: center;
	text-align: center;
	color: orange;
	background-color: #00203FFF;
	position: sticky;
}

.page2 > nav > div > ul{
	transform: translateY(150%);
	display: flex;
	list-style-type: none;
	text-align: center;
}

.page2 > nav > div{
	width: 80%;
	justify-content: center;
	text-align: center;
	display: flex;
}

.page2{
	background: url(../images/back1.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;

}
.projects{
    height: 100vh;
    background-color: #00203FFF;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.picproj{
	margin-top: 20px;
}

.picproj > img{
	transition: 1s;
}

.picproj > img:hover{
	transform: scale(1.25);
}

.projects > h1{
	color: #ADEFD1FF;

}

.contact{
	height: 100vh;
	background-color: #ADEFD1FF;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;

}

form{
	width: 50%;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.form, .condetails {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact > div > p{
	font-family: 'Righteous', cursive;
	color: #00203FFF;
	text-align: center;
	margin: 0 100px;
	text-align: center;
	font-weight: 800;
}

.forms{
	display: block;
	width: 100%;
	border-radius: 10px;
	font-size: 18px;
	margin: 10px 0;
}

.condetails {
	margin: 0 100px;
}

.btn-contact {
	text-align: center;
}

.forms	{
	display: block;
	width: 100%;
	border-radius: 10px;
	font-size: 18px;
	margin: 10px 0;
}


https://wireframe.cc/kpjUpl
https://wireframe.cc/kpjUpl

https://dribbble.com/shots/4694343-Memoto-UI-Desktop?utm_source=Clipboard_Shot&utm_campaign=haranamorim&utm_content=Memoto%20%7C%20UI%20Desktop&utm_medium=Social_Share

https://www.figma.com/file/l8pWpQ1pxLdl2h0Bt5JgkL/Capstone1?node-id=0%3A1

